<a href="https://colab.research.google.com/github/sushruth2580/sushruth2580/blob/main/python_programs_to_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

# Variables

Let us discuss variables
Variables are containers for storing data values.Python has no command for declaring a variable.A variable is created the moment you first assign a value to it.Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [1]:
x='25'
y='Sushruth'
print('Hi ' + y + ' Your roll number is: ' + x)

Hi Sushruth Your roll number is: 25

##### It is case Sensitive we can assign same values to a letter with upper case and lower case like a A. String value is declared by '' or "".

In [2]:
a=10
A=20
print(a+A)

30

##### And you can assign the same value to multiple variables in one line. If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [3]:
x=y=z='Sushruth'
print(x)
print(y)
print(z)

Sushruth
Sushruth
Sushruth

In [4]:
cars=["G-wagon","BMW","Audi"]
x,y,z=cars
print(x)
print(y)
print(z)

G-wagon
BMW
Audi

##### Out put Variable
* The Python print() function is often used to output variables.

* In the print() function, you output multiple variables, separated by a comma

* You can also use the + operator to output multiple variables

* For numbers, the + character works as a mathematical operator

* In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error

* The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types

In [5]:
a=10
b=20
c=30
x="sushruth"
y="troy"
z="miller"

print(a)
print(x,y,z)
print(a+b)
print(a,x)

10
sushruth troy miller
30
10 sushruth

##### Global Variables

* Variables that are created outside of a function (as in all of the examples above) are known as global variables.Global variables can be used by everyone, both inside of functions and outside.

* If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [6]:
a="25"
x="sushruth"
g= "students"

def student():
    x="tarani"
    a="62"
    print("Student name is " + x + " roll num is " + a + g)

student()

print("Student name is " + x + " roll num is " + a)

Student name is tarani roll num is 62students
Student name is sushruth roll num is 25

# Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

Setting the Data Type
In Python, the data type is set when you assign a value to a variable:

Example	Data Type	Try it

x = "Hello World"-->	str

x = 20-->	int

x = 20.5-->	float

x = 1j-->	complex

x = ["apple", "banana", "cherry"]-->	list

x = ("apple", "banana", "cherry")-->	tuple

x = range(6)-->	range

x = {"name" : "John", "age" : 36}-->	dict

x = {"apple", "banana", "cherry"}-->	set

x = frozenset({"apple", "banana", "cherry"})-->	frozenset

x = True-->	bool

x = b"Hello"-->	bytes

x = bytearray(5)-->	bytearray

x = memoryview(bytes(5))-->	memoryview

x = None-->	NoneType

#### Random Number

In [7]:
import random
def fun():
    x=random.randrange(1,20)
    print (x)

fun()

10

# Type casting

Through type casting we can change the format from one data type to other

* int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

* float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

* str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

# Boolian Operations

The boolian functions are "AND" "OR" "NOT"

* AND -> True if both are True
* OR -> True if at least one is True
* NOT -> True only if False


![Screenshot%202024-02-10%20at%2012.56.44%E2%80%AFPM.png](attachment:Screenshot%202024-02-10%20at%2012.56.44%E2%80%AFPM.png)

![Screenshot%202024-02-10%20at%2012.56.50%E2%80%AFPM.png](attachment:Screenshot%202024-02-10%20at%2012.56.50%E2%80%AFPM.png)

![Screenshot%202024-02-10%20at%2012.57.02%E2%80%AFPM.png](attachment:Screenshot%202024-02-10%20at%2012.57.02%E2%80%AFPM.png)

The order of priority when it come to the operators are
first comes \
1)NOT\
2)AND\
3)OR

In [8]:
True and not True

False

In [9]:
False or not True and True

False

# String

"" or '' is used to represent string

You can assign a multiline string to a variable by using three quotes like """ """ (or) ''' '''

#### Strings are Arrays (or) slicing

We can Retrieve specific parts of a string and even loop through the string [] can be used to access them

#### String length
len() function can be used to find the lenghth of the string

#### Checking string
We can check the word or a character in a string

#### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [10]:
x = int(1.56)
y=str(346)
z = float("096")
print (type(x))
print (type(y))
print (type(z))
print(x,y,z)

<class 'int'>
<class 'str'>
<class 'float'>
1 346 96.0

In [11]:
a="sushruth"
print (a[3:5])
print (a[1])
print (a[4:])
print (a[-5:-4])

hr
u
ruth
h

In [12]:
print(len(a))

8

In [13]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [14]:
if "huhuhu" not in (a):
    print("huhuhu is not present")
else:
    print ("It is present ")

huhuhu is not present

##### String modification

* The upper() method returns the string in upper case

* The lower() method returns the string in lower case

* The strip() method removes any whitespace from the beginning or the end

* The replace() method replaces a string with another string

* The split() method splits the string into substrings if it finds instances of the separator

In [15]:
str="Hello sushruth good morning"
print(str.upper())
print(str.lower())
print(str.strip())
print(str.replace("sushruth","tarani"))
print(str.split())

HELLO SUSHRUTH GOOD MORNING
hello sushruth good morning
Hello sushruth good morning
Hello tarani good morning
['Hello', 'sushruth', 'good', 'morning']

#### String Concatnation

In [16]:
a="Sushruth"
b="Chunchu"
c=a+b
print(c)
print(a+" "+b)

SushruthChunchu
Sushruth Chunchu

#### Format - Strings

Adding strings and numbers gives an error
To eradicate it we can use format() methord to combine them
* The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are
* the format() string can take unlimited number of variables in it

* We can use index numbers {0} to be sure the arguments are placed in the correct placeholders

In [17]:
age = 22
txt = "My name is sushruth, and I am {}"
print(txt.format(age))

My name is sushruth, and I am 22

In [18]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [19]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

# Python Operators

	Addition	x + y
	Subtraction	x - y
	Multiplication	x * y
	Division	x / y
	Modulus	x % y
	Exponentiation	x ** y
    Floor division	x // y

# List

* Lists are used to store multiple items in a single variable.

* Lists are created using square brackets []

* List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1] etc.

##### Ordered :
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.If you add new items to a list, the new items will be placed at the end of the list.

##### Changeable:
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

##### Allow Duplicates:
Since lists are indexed, lists can have items with the same value:

##### Data Types:
List can have different data type. List can contain different data type

In [20]:
my_list=["G-wagon","M power","SLR","Mustang","SVR","Supra",]
print(my_list)

data_typel_list=["Sushruth",25,"tarani",62,True]
print(type(data_typel_list))

['G-wagon', 'M power', 'SLR', 'Mustang', 'SVR', 'Supra']
<class 'list'>

##### Accessing List

In [21]:
print(my_list[1])

M power

##### Negative Indexing

In [22]:
print(my_list[-2])

SVR

##### Range of Indexes

In [23]:
print(my_list[2:5])
print(my_list[:6])
print(my_list[3:])
print(my_list[-4:-1])

['SLR', 'Mustang', 'SVR']
['G-wagon', 'M power', 'SLR', 'Mustang', 'SVR', 'Supra']
['Mustang', 'SVR', 'Supra']
['SLR', 'Mustang', 'SVR']

##### Check if Item Exists

In [24]:
if "G-wagon" in my_list:
    x=("Yes {} is present in the list")
    print(x.format(my_list[0]))

Yes G-wagon is present in the list

##### Change list items

In [25]:
saamaanlu=["Sushruth","Mohith","Jayanth","Rohan","Bhargav","Vishnu","Saketh"]

saamaanlu[0]="Chunchu sushruth"
print(saamaanlu)
saamaanlu[1:3]=["Vemulapalli mohith","Chennupati Jayanth"]
print(saamaanlu)
saamaanlu[3:5]=["Rohan Muppavarapu","Monish Lanka"]#If we insert more than what we menctioned the list will arrange them in
                                                   #that place and remaining items move accordingly
print(saamaanlu)

['Chunchu sushruth', 'Mohith', 'Jayanth', 'Rohan', 'Bhargav', 'Vishnu', 'Saketh']
['Chunchu sushruth', 'Vemulapalli mohith', 'Chennupati Jayanth', 'Rohan', 'Bhargav', 'Vishnu', 'Saketh']
['Chunchu sushruth', 'Vemulapalli mohith', 'Chennupati Jayanth', 'Rohan Muppavarapu', 'Monish Lanka', 'Vishnu', 'Saketh']

##### Insert Items

In [26]:
saamaanlu.insert(7,"Pandu")
print(saamaanlu)

['Chunchu sushruth', 'Vemulapalli mohith', 'Chennupati Jayanth', 'Rohan Muppavarapu', 'Monish Lanka', 'Vishnu', 'Saketh', 'Pandu']

##### Adding Items to List

To add an item to the end of the list, use the append() method

In [27]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
thislist.insert(1,"green apple")
print(thislist)

['apple', 'green apple', 'banana', 'cherry', 'orange']

##### Extend List

To append elements from another list to the current list, use the extend() method
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [28]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [29]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

##### Remove Specified Item
The remove() method removes the specified item

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

##### Remove Specified Index

The pop() method removes the specified index

If you do not specify the index, the pop() method removes the last item.

In [31]:
thislist = ["apple", "banana", "cherry","kiwi","Grape"]
thislist.pop(1)
thislist.pop()
print(thislist)

['apple', 'cherry', 'kiwi']

The del keyword also removes the specified index:

The del keyword can also delete the list completely.

In [32]:
thislist = ["apple", "banana", "cherry"]
x=["Tree","Bench","Chair","Band","Cat"]
del thislist[0]
del x
print(thislist)

['banana', 'cherry']

##### Loop through a list
* You can loop through the list items by using a for loop
* You can also loop through the list items by referring to their index number.
* Use the range() and len() functions to create a suitable iterable.

In [33]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [34]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [35]:
list=["Hershey","Mr.Good","Smarties","Bana chew","Krackel"]
newlist=[]
for x in list :
    if "o" in x:
        newlist.append(x)
print(newlist)

['Mr.Good']

#### Sorting list

In [36]:
x=[4,7,9,5,3,7,8,4,1,6,0,6,2,8,6,4]
x.sort()
print(x)

# We can even sort them in decending order
# to sort in decending we use reverse = True

y = [6,7,83,357,1,8,0,3,6,79,234,765,342,2634,789,924,904,143532,3657,2415]
y.sort(reverse=True)
print(y)

#we can even sort it by how close this number this is to a perticular number
# key is a function which is used to customize the sort function is applied first before sorting

def fun(n):
    return abs(n-50)
num=[100,34,76,342,96,13,768,25,76,62]
num.sort(key=fun)
print(num)

[0, 1, 2, 3, 4, 4, 4, 5, 6, 6, 6, 7, 7, 8, 8, 9]
[143532, 3657, 2634, 2415, 924, 904, 789, 765, 357, 342, 234, 83, 79, 8, 7, 6, 6, 3, 1, 0]
[62, 34, 25, 76, 76, 13, 96, 100, 342, 768]

In [37]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

###### Making a copy of a list

In [38]:
samp=["hi","there","how","are","you"]
comp = samp.copy()

print(comp)

['hi', 'there', 'how', 'are', 'you']

###### Joining two lists

In [39]:
list1=['a','b','c','d','e']
list2=[1,2,3,4,5,6]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6]

# Tuple

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [40]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [41]:
# Allows duplicate valuse because they are indexed

thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

###### Create Tuple With One Item

In [42]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

###### ',' Seperated tuppels

In [43]:
name, age = 'Peter,24'.split(',')
print(name)
print(age)

Peter
24

### Access Tuple Items

In [44]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2])
print(thistuple[2:5])
print(thistuple[-1])
print(thistuple[:5])
print(thistuple[2:])

cherry
('cherry', 'orange', 'kiwi')
mango
('apple', 'banana', 'cherry', 'orange', 'kiwi')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

###### Check if Item Exists

In [45]:
if "cherry" in thistuple:
    print("Yes cherry is present in the list")
else:
    print("No cherry is not present in the list")

Yes cherry is present in the list

# Python - Update Tuples

### Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [47]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

TypeError: 'list' object is not callable

#### Adding item

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list (thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

#### Removing item

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

# SETS

* Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

* Unordered

Unordered means that the items in a set do not have a defined order. Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

* Unchangeable

Set items are unchangeable, meaning that we cannot change the items after the set has been created. Once a set is created, you cannot change its items, but you can remove items and add new items.

In [48]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

# Dictionary

In [49]:
nums = [1,35,12,24,31,51,70,100]
print(len(nums))

def low(lists):
    count=0
    for i in range(len(lists)):
        if lists[i]<20:
            count=count+1
    return count


low(nums)

8

2

In [50]:
x=25
y=10
if x>3 and y>13:
    print("Both conditions are correct")

elif x<= 3 or y<=13:
    print("At least one of the conditions is false")

At least one of the conditions is false

# For Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [51]:
list=["Sushruth","Vishnu","Balu","Mohith","Jayanth","Rohan"]
for x in list:
    print (x)

Sushruth
Vishnu
Balu
Mohith
Jayanth
Rohan

###### Looping a string

In [52]:
word ="Sushruth"
for y in word:
    print (y)

S
u
s
h
r
u
t
h

###### Breaking loop

In [53]:
list=["Sushruth","Vishnu","Balu","Mohith","Jayanth","Rohan"]
for x in list:
    print (x)
    if x == "Balu":
        break

Sushruth
Vishnu
Balu

###### The continue Statement

In [54]:
list=["Sushruth","Vishnu","Balu","Mohith","Jayanth","Rohan"]
for x in list:
    if x == "Balu":
        continue
    print (x)

Sushruth
Vishnu
Mohith
Jayanth
Rohan

###### Range

In [55]:
import random
y= random.randrange(10)
print (y)
for x in range(y):
    if x%2==0:
        print (x)

0

###### Else in for loop

In [56]:
for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print("Finally finished!")

0
1
2

###### Nested Loops

In [57]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [58]:
data= {
    "Name" : "Sushruth",
    "Age" : 22,
    "Gender" : "Male",
    "Married" : False
}

for x in data:
    print (x)

for y in data.values():
    print (y)

for z in data.keys():
    print (z)

for a in data.items():
    print(a)

Name
Age
Gender
Married
Sushruth
22
Male
False
Name
Age
Gender
Married
('Name', 'Sushruth')
('Age', 22)
('Gender', 'Male')
('Married', False)

###### Enumerate
It adds the index number to the string

In [59]:
for i,char in enumerate("Sushruth"):
    print (i,char)

0 S
1 u
2 s
3 h
4 r
5 u
6 t
7 h

In [60]:
my_list="Hi my name is sushruth chunchu and i'm 22 years old and doing my masters in NJIT"
for i,char in enumerate(my_list):
    if i==25:
        print (f"index of 25 is {char}")

index of 25 is u

# WHILE LOOPS

While loop executes as long as the condition is true

In [61]:
i=1
while i < 6 :
    print(i)
    i+=1

1
2
3
4
5

<b>Break is used to brake the certain condition and stops its execution<b/>

In [62]:
i = 0
while i <=10:
    print(i)
    if i == 3:
        break
    i+=1

0
1
2
3

<b>Continue is used to pass on to next iteration and speeds up the process<b/>

In [63]:
i = 0
while i <=10:
    i+=1

    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10
11

In [ ]:
i = 1
while i<=6:
    print(i)
    i+=1
else :
    print("i is now equal to 6")

# FOR LOOPS

In [64]:
for x in "Sushruth":
    print(x,end=" ")

S u s h r u t h

In [65]:
fruits =["apple","banana","orange","sweet"]
for i in fruits:
    print(i)

apple
banana
orange
sweet

In [66]:
for x in fruits:
    print(x)
    if x == "orange":
        break

apple
banana
orange

In [67]:
for x in fruits:
    if x == "orange":
        continue
    print(x)

apple
banana
sweet

In [68]:
color = ["red","long","big","tasty"]
for x in color:
    for y in fruits:
        print(x,y)

red apple
red banana
red orange
red sweet
long apple
long banana
long orange
long sweet
big apple
big banana
big orange
big sweet
tasty apple
tasty banana
tasty orange
tasty sweet

# Arrays

Arrays can store more values than list

In [69]:
cars = ["mazda","jeep","Mustang","Benz","BMW"]

# CLASS

In [70]:
class myClass:
    x=525

###### Now we can use the calass name myclass to create objects

In [71]:
p1= myClass()
print(p1.x)

525

In [73]:
import random, sys

print('ROCK, PAPER, SCISSORS')

# These variables keep track of the number of wins, losses, and ties.
wins = 0
losses = 0
ties = 0

while True: # The main game loop.
    print('%s Wins, %s Losses, %s Ties' % (wins, losses, ties))
    while True: # The player input loop.
        print('Enter your move: (r)ock (p)aper (s)cissors or (q)uit')
        playerMove = input()
        if playerMove == 'q':
            sys.exit() # Quit the program.
        if playerMove == 'r' or playerMove == 'p' or playerMove == 's':
            break # Break out of the player input loop.
        print('Type one of r, p, s, or q.')

    # Display what the player chose:
    if playerMove == 'r':
        print('ROCK versus...')
    elif playerMove == 'p':
        print('PAPER versus...')
    elif playerMove == 's':
        print('SCISSORS versus...')

    # Display what the computer chose:
    randomNumber = random.randint(1, 3)
    if randomNumber == 1:
        computerMove = 'r'
        print('ROCK')
    elif randomNumber == 2:
        computerMove = 'p'
        print('PAPER')
    elif randomNumber == 3:
        computerMove = 's'
        print('SCISSORS')

    # Display and record the win/loss/tie:
    if playerMove == computerMove:
        print('It is a tie!')
        ties = ties + 1
    elif playerMove == 'r' and computerMove == 's':
        print('You win!')
        wins = wins + 1
    elif playerMove == 'p' and computerMove == 'r':
        print('You win!')
        wins = wins + 1
    elif playerMove == 's' and computerMove == 'p':
        print('You win!')
        wins = wins + 1
    elif playerMove == 'r' and computerMove == 'p':
        print('You lose!')
        losses = losses + 1
    elif playerMove == 'p' and computerMove == 's':
        print('You lose!')
        losses = losses + 1
    elif playerMove == 's' and computerMove == 'r':
        print('You lose!')
        losses = losses + 1

ROCK, PAPER, SCISSORS
0 Wins, 0 Losses, 0 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
r
ROCK versus...
SCISSORS
You win!
1 Wins, 0 Losses, 0 Ties
Enter your move: (r)ock (p)aper (s)cissors or (q)uit
o
Type one of r, p, s, or q.
Enter your move: (r)ock (p)aper (s)cissors or (q)uit

KeyboardInterrupt: Interrupted by user

# FILE HANDLING

# NUMPY

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

* NumPy is a Python library used for working with arrays.
* NumPy aims to provide an array object that is up to 50x faster than traditional Python lists.
* NumPy arrays are stored at one continuous place in memory unlike lists, so processes can access and manipulate them very efficiently.This behavior is called locality of reference

* We can create a NumPy ndarray object by using the <b>array()</b> function

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

print(type(arr))

#### Dimensions in Arrays
###### 0-D Arrays

In [ ]:
arr = np.array(42)

print(arr)

###### 1-D Arrays

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

print(arr)

###### 2-D Arrays

In [ ]:
arr = np.array([[1, 2, 3], [4, 5, 6]])

print(arr)

###### 3-D Arrays

In [ ]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

print(arr)

###### How to check Number of Dimensions

In [ ]:
a = np.array(42)
b = np.array([1, 2, 3, 4, 5])
print(a.ndim)
print(b.ndim)

###### Higher Dimensional Arrays

We can define the number of dimensions by using the <b>ndmin</b> argument

In [ ]:
arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print('number of dimensions :', arr.ndim)

###### Access Array Elements

In [ ]:
arr = np.array([1, 2, 3, 4])

print(arr[0])
print(arr[2] + arr[3])

###### Access 2-D Arrays

In [ ]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('2nd element on 1st row: ', arr[0, 1])

###### Access 3-D Arrays

In [ ]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

print(arr[0, 1, 2])

In [ ]:
arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

print('Last element from 2nd dim: ', arr[1, -1])

#### Slicing arrays

We pass slice instead of index like this: <b>[start:end]</b>.

We can also define the step, like this: <b>[start:end:step]</b>

In [ ]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5])

print(arr[4:])

print(arr[:4])

print(arr[-3:-1])

print(arr[1:5:2])


print(arr[::2]) #Return every other element from the entire array

In [ ]:
n=[1,2,3,4,5]
n[3]=n[1]
print(n[3])

In [ ]:
w=["hello"]
w.append("world")
print(w[1])

In [ ]:
x=4
y=2
if not 1+1==y or x==4 and 7==8:
    print("yes")
elif x>y:
    print("No")

In [ ]:
print(7>7.0)

In [ ]:
if 1+1==2:
    if 2*2==8:
        print("if")
    else :
        print("el")

# Numpy

In [ ]:
import pandas as pd

In [ ]:
# Adding pharmacy names to the data
data_with_pharmacy = [
    {
        "Pharmacy Name": "CityMed",
        "Name": "David Abaev, PharmD",
        "Education": "PharmD",
        "Position": "COO, Founder",
        "Address": "97-17 64th Road, Lower Level, Rego Park, NY 11374",
        "Website": "citymedrx.com",
        "Phone": "1-866-439-5302, 917-326-1509",
        "Fax": "1-866-439-4501",
        "Email": "david@citymedrx.com"
    },
    {
        "Pharmacy Name": "JCD Distribution Inc",
        "Name": "Peter Pun",
        "Education": None,
        "Position": "Salesman",
        "Address": "13-20, 13187 Street, College Point, NY 11356 USA",
        "Website": None,
        "Phone": "929-335-7755, 929-641-5773",
        "Fax": "929-389-1668",
        "Email": "PETER.PUN@ucbous.COM"
    },
    {
        "Pharmacy Name": "CityMed",
        "Name": "Robert Abaev, PharmD",
        "Education": "PharmD",
        "Position": "CEO, Founder",
        "Address": "97-17 64th Road, Lower Level, Rego Park, NY 11374",
        "Website": "citymedrx.com",
        "Phone": "1-866-439-5302, 947-396-1265",
        "Fax": "1-866-439-4501",
        "Email": "robert@citymedrx.com"
    },
    {
        "Pharmacy Name": "GSK (GlaxoSmithKline)",
        "Name": "David Fiumaro",
        "Education": None,
        "Position": "Retail Account Executive, Vaccine Sales",
        "Address": "2929 Walnut Street, Philadelphia, PA 19104",
        "Website": "gskpro.com, gskdirect.com, gskvaccination.com",
        "Phone": "516-361-3176",
        "Fax": "866-475-8222",
        "Email": "david.x.fiumaro@gsk.com"
    },
    {
        "Pharmacy Name": "Community Care Rx",
        "Name": "Hossam Maksoud, PharmD",
        "Education": "PharmD",
        "Position": "Chief Executive Officer",
        "Address": "86 Front Street, Hempstead, NY 11550",
        "Website": "commcarerx.com",
        "Phone": "516-384-6684, 516-418-8058 x110",
        "Fax": "516-307-9519",
        "Email": "Hossam@commcarerx.com"
    },
    {
        "Pharmacy Name": "AlliantRx",
        "Name": "Kathleen Wright",
        "Education": None,
        "Position": "Business Consultant",
        "Address": "58-21 43rd Avenue, Woodside, NY 11377",
        "Website": None,
        "Phone": "917-494-3576",
        "Fax": "347-639-1275",
        "Email": "kwright@alliantrx.com"
    },
    {
        "Pharmacy Name": "Community Care Rx",
        "Name": "Irien Moawad",
        "Education": None,
        "Position": "President of Pharmacy Services & Compliance",
        "Address": "131 Sunnyside Blvd Ste 100, Plainview, NY 11803; 125 Michael Drive Ste 106, Syosset, NY 11791",
        "Website": "commcarerx.com, opharms.com",
        "Phone": "855-207-6844, 866-349-8420, 631-252-4557",
        "Fax": None,
        "Email": "irien@commcarerx.com"
    }
]

# Create DataFrame with the added pharmacy name
df_with_pharmacy = pd.DataFrame(data_with_pharmacy)

# Display the updated DataFrame to the user
tools.display_dataframe_to_user(name="Pharmacist and Pharmacy Details Table", dataframe=df_with_pharmacy)

In [ ]:
x=5
if x>10:
    print("GReater than 10")
elif x>5 :
    print("GReater than 5")
else:
    print("GReater or equal to 5")

In [ ]:
10/3

In [ ]:
l=[1,2,3]
l.remove(2)
print(l)

In [ ]:
True and False

In [ ]:
s="hello, world!"
print(s[7:12])

In [ ]:
for i in range(3):
    print(i)

In [ ]:
d={'a':1,'b':2,'c':3}
print(d['b'])

# XML parsing

* XML stands for "Extensible Markup Language"
* XML documents have sections called elements, which are defined by a beginning and an ending tag. A tag is a markup construct that begins with < and ends with >. The characters between the start-tag and end-tag, if there are any, are the element's content. Elements can contain markup, including other elements, which are called "child elements."
* The largest, top-level element is called the root, which contains all other elements.
* Attributes are namevalue pair that exist within a start-tag or empty-element tag. An XML attribute can only have a single value and each attribute can appear at most once on each element.

In [ ]:
# To understand this a little bit better, take a look at the following (shortened) XML file:
# example

 Python has a built-in library, ElementTree, that has functions to read and manipulate XMLs

In [ ]:
import xml.etree.ElementTree as ET

##### Parsing XML Data
The XML file provided describes a basic collection of movies. The only problem is that the data is a mess! There have been many different curators of this collection, and everyone has their own way of entering data into the file.

A sample Version of a XML file

<?xml version="1.0"?>
<catalog>
   <book id="bk101">
      <author>Gambardella, Matthew</author>
      <title>XML Developer's Guide</title>
      <genre>Computer</genre>
      <price>44.95</price>
      <publish_date>2000-10-01</publish_date>
      <description>An in-depth look at creating applications
      with XML.</description>
   </book>
   <book id="bk102">
      <author>Ralls, Kim</author>
      <title>Midnight Rain</title>
      <genre>Fantasy</genre>
      <price>5.95</price>
      <publish_date>2000-12-16</publish_date>
      <description>A former architect battles corporate zombies,
      an evil sorceress, and her own childhood to become queen
      of the world.</description>
   </book>
   <book id="bk103">
      <author>Corets, Eva</author>
      <title>Maeve Ascendant</title>
      <genre>Fantasy</genre>
      <price>5.95</price>
      <publish_date>2000-11-17</publish_date>
      <description>After the collapse of a nanotechnology
      society in England, the young survivors lay the
      foundation for a new society.</description>
   </book>
   <book id="bk104">
      <author>Corets, Eva</author>
      <title>Oberon's Legacy</title>
      <genre>Fantasy</genre>
      <price>5.95</price>
      <publish_date>2001-03-10</publish_date>
      <description>In post-apocalypse England, the mysterious
      agent known only as Oberon helps to create a new life
      for the inhabitants of London. Sequel to Maeve
      Ascendant.</description>
   </book>
   <book id="bk105">
      <author>Corets, Eva</author>
      <title>The Sundered Grail</title>
      <genre>Fantasy</genre>
      <price>5.95</price>
      <publish_date>2001-09-10</publish_date>
      <description>The two daughters of Maeve, half-sisters,
      battle one another for control of England. Sequel to
      Oberon's Legacy.</description>
   </book>
   <book id="bk106">
      <author>Randall, Cynthia</author>
      <title>Lover Birds</title>
      <genre>Romance</genre>
      <price>4.95</price>
      <publish_date>2000-09-02</publish_date>
      <description>When Carla meets Paul at an ornithology
      conference, tempers fly as feathers get ruffled.</description>
   </book>
   <book id="bk107">
      <author>Thurman, Paula</author>
      <title>Splish Splash</title>
      <genre>Romance</genre>
      <price>4.95</price>
      <publish_date>2000-11-02</publish_date>
      <description>A deep sea diver finds true love twenty
      thousand leagues beneath the sea.</description>
   </book>
   <book id="bk108">
      <author>Knorr, Stefan</author>
      <title>Creepy Crawlies</title>
      <genre>Horror</genre>
      <price>4.95</price>
      <publish_date>2000-12-06</publish_date>
      <description>An anthology of horror stories about roaches,
      centipedes, scorpions  and other insects.</description>
   </book>
   <book id="bk109">
      <author>Kress, Peter</author>
      <title>Paradox Lost</title>
      <genre>Science Fiction</genre>
      <price>6.95</price>
      <publish_date>2000-11-02</publish_date>
      <description>After an inadvertant trip through a Heisenberg
      Uncertainty Device, James Salway discovers the problems
      of being quantum.</description>
   </book>
   <book id="bk110">
      <author>O'Brien, Tim</author>
      <title>Microsoft .NET: The Programming Bible</title>
      <genre>Computer</genre>
      <price>36.95</price>
      <publish_date>2000-12-09</publish_date>
      <description>Microsoft's .NET initiative is explored in
      detail in this deep programmer's reference.</description>
   </book>
   <book id="bk111">
      <author>O'Brien, Tim</author>
      <title>MSXML3: A Comprehensive Guide</title>
      <genre>Computer</genre>
      <price>36.95</price>
      <publish_date>2000-12-01</publish_date>
      <description>The Microsoft MSXML3 parser is covered in
      detail, with attention to XML DOM interfaces, XSLT processing,
      SAX and more.</description>
   </book>
   <book id="bk112">
      <author>Galos, Mike</author>
      <title>Visual Studio 7: A Comprehensive Guide</title>
      <genre>Computer</genre>
      <price>49.95</price>
      <publish_date>2001-04-16</publish_date>
      <description>Microsoft Visual Studio 7 is explored in depth,
      looking at how Visual Basic, Visual C++, C#, and ASP+ are
      integrated into a comprehensive development
      environment.</description>
   </book>
</catalog>

In [ ]:
import os

print(os.path.abspath('books.xml'))

#### Parsing The XML Data

The only problem is that the data is a mess! There have been many different curators of this collection, and everyone has their own way of entering data into the file.

In [ ]:
tree = ET.parse('books.xml')
root = tree.getroot()

* Now that you have initialized the tree, you should look at the XML and print out values in order to understand how the tree is structured.

* Every part of a tree (root included) has a tag that describes the element. In addition, as you have seen in the introduction, elements might have attributes, which are additional descriptors used especially for repeated tag usage.

In [ ]:
root.tag

At the top level, you see that this XML is rooted in the **catalog** tag.

In [ ]:
root.attrib

So, the root has no attributes.

### For loops

You can easily iterate over subelements (commonly called "children") in the root by using a simple "for" loop.

In [ ]:
for child in root:
    print(child.tag)
    print (child.attrib)

Now you know that the children of the root **catalog** are all **book**. To designate the **book**, the XML uses the attribute **id**

In [ ]:
[elem.tag for elem in root.iter()]

Typically it is helpful to know all the elements in the entire tree. One useful function for doing that is root.iter(). You can put this function into a "for" loop and it will iterate over the entire tree.

In [ ]:
for x in root.iter('book'):
    print(x.attrib)

Many times elements will not have attributes, they will only have text content. Using the attribute .text, you can print out this content.

Now, print out all the descriptions of the books.

In [ ]:
for description in root.iter('description'):
    print (description.text)

##### Understanding XPath is critically important to scanning and populating XMLs. ElementTree has a .findall() function that will traverse the immediate children of the referenced element. You can use XPath expressions to specify more useful searches.

In [ ]:
for y in root.findall("./book/author"):
    print(y.text)

In [ ]:
for book in root.findall("./book"):
    price = float(book.find('price').text)
    if price>30:
        title = book.find('title').text
        print(f"{title} is > 30 its price is {price}")

XPath is a query language used to search through an XML quickly and easily. XPath stands for XML Path Language and uses, as the name suggests, a "path-like" syntax to identify and navigate nodes in an XML document.

In [ ]:
for book in root.find("./book[publish_date='2000-11-17']"):
    print(book.text)

In [ ]:
root[0][4].text

In [ ]:
for book in root.iter('genre'):
    print(book.text)

*  <em>Element.iter( )</em>: <p>Element has some useful methods that help iterate recursively over all the sub-tree below it (its children, their children, and so on).</p>

* <em>Element.findall( ):</em>: <p>Finds only elements with a tag which are direct children of the current element.</p>

* <em>Element.find( ):</em> <p>finds the first child with a particular tag</p>

* <em>Element.text( ):</em> <p>accesses the elements text content.</p>

* <em>Element.get( ):</em> <p>accesses the elements attributes</p>

In [ ]:
for details in root.findall('book'):
    genre = details.find('genre').text
    price = details.find('price').text
    print(f"For the genre:{genre} the price is {price}")

### Modifying an XML File

<p>ElementTree provides a simple way to build XML documents and write them to files. The <strong>ElementTree.write( )</strong> method serves this purpose.
</p>

<p> Element object may be manipulated by directly changing its fields (such as <strong>Element.text</strong>), adding and modifying attributes (<strong> Element.set()</strong> method), as well as adding new children (for example with <strong>Element.append()</strong>).</p>

Lets say we want to add one to each countrys rank, and add an **updated** attribute to the rank element:

>Let us imagine we want to increase the price by 1$

In [ ]:
tree = ET.parse('books.xml')  # Replace with the correct path
root = tree.getroot()

for newPrice in root.iter('price'):
    updatedPrice = float(newPrice.text) + 1  # Increase price by 1
    newPrice.text = str(updatedPrice)        # Update the element's text
    newPrice.set('updated', 'yes')           # Add/update an attribute

tree.write('output.xml')

In [ ]:
print(os.path.abspath('ndc.xml'))

>We can remove elements using <strong>Element.remove()</strong>

| Expression | Description |
|   :-----:  |   :-------: |
| nodename   | Selects all nodes with the name "nodename"|
|/           |Selects from the root node |
| //	     | Selects nodes in the document from the current node that match the selection no matter where they are|
|.	         |Selects the current node|
|..	         |Selects the parent of the current node|
| @	         |Selects attributes|